@font-face {
  font-family: 'IBM-PlexSans-Regular';
  src: url("../fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: 'IBM-PlexSans-Medium';
  src: url('../fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBM-PlexMono-SemiBold';
  src: url("../fonts/IBMPlexMono-SemiBold.ttf");
}

$font-menu: 'IBM-PlexSans-Medium';
$font-main: 'IBM-PlexSans-Regular';
$font-title: 'IBM-PlexMono-SemiBold';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-white;
  -webkit-box-sizing: border-box;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-secondary;
}

::selection {
  background-color: $color-primary;
  color: $color-secondary;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-transform: uppercase;
}

h1::before {
  content: "#";
  color: $color-primary;
}

button,
input {
  border: 0;

  &:focus {
    border: 0;
  }
}

body {
  background-color: $color-bg;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: $color-bg;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 6px;
}

.js-animation {
  opacity: 0;
  transform: translateY(-4em);

  &.js-animated {
    opacity: 1;
    transition: 1.6s;
    transform: translateY(0);
  }
}