// Brand Colors
$brand-dark: ''; 
$brand-normal: '';
$brand-light: '';
$brand-gradient: '';

// Colors Base
$background: '#070307';

$white-dark: ''; 
$white-normal: '';
$white-light: '';

$gray-dark: ''; 
$gray-normal: '';
$gray-light: '';

$black-dark: ''; 
$black-normal: '';
$black-light: '';
